// Color variables

// from Flyer
$colCyan: rgb(0, 156, 179); // cyan-ish
$colOcher: rgb(223, 195, 0); // ocher

// greyscales
$colLight1: rgb(240, 240, 240);
$colLight2: rgb(220, 220, 220);
$colMainBG: rgb(128, 128, 128);
$colMedium2: rgb(106, 106, 106);
$colDark1: rgb(70, 70, 70);
$colDark2: rgb(30, 30, 30);

$colShadow: black;

$colNotificationText: rgb(220, 220, 220);
$colText: rgb(70, 70, 70);
$colTextInv: rgb(220, 220, 220);

// image imports
$imgBackground: url('../img/mainbackground.png');
$imgLogo: url('../img/logo_lrg.png');
$imgBanner: url('../img/banner_XXL_lrg.png');