/* Defaults */
* {
  box-sizing: border-box;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, address, code,
em, img,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  color: #464646;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11pt;
  line-height: 1;
}

h2 {
  font-size: 1.6em;
  margin: .2em 0 .4em;
}

hr {
  width: 96%;
  clear: both;
  border-width: 1px 0;
  border-style: solid;
  border-color: #6a6a6a transparent white;
}

ol, ul {
  list-style: none;
}

a, a:link, a:active, a:visited {
  color: #009cb3;
  text-decoration: none;
  text-shadow: 1px 2px 2px #f0f0f0;
}

a:hover {
  color: #dfc300;
  text-shadow: 1px 2px 2px #6a6a6a;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
#authform {
  margin: 1.2em;
  padding: .6em .2em .2em;
  background: #f0f0f0;
}

fieldset {
  border: 2px solid #009cb3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #009cb3;
  padding: 1em;
}

.placeholder {
  background: #f0f0f0;
  border: 1px solid #1e1e1e;
}

.clearfix {
  float: none;
  clear: both;
}
.clearfix::before, .clearfix::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* Overall Layout Definition */
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background: url("../img/mainbackground.png") center top repeat-y, #f0f0f0;
  background-size: 1400px;
}

header {
  position: relative;
}

#authbar {
  position: relative;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
}
#authbar > p {
  padding: .4em 1em;
  text-align: right;
  font-size: .8em;
  font-weight: bold;
}

#navbar {
  position: absolute;
  top: 32px;
  z-index: 1;
  width: 100%;
  height: 60px;
  background: gainsboro;
  /* Color fallback */
  background: -o-linear-gradient(to bottom, gainsboro 0%, #f0f0f0 25%, gainsboro 100%);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, gainsboro 0%, #f0f0f0 25%, gainsboro 100%);
  background: linear-gradient(to bottom, gainsboro 0%, #f0f0f0 25%, gainsboro 100%);
}
#navbar::before, #navbar::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
}
#navbar::before {
  top: -8px;
  background: rgba(0, 0, 0, 0.4);
  /* Color fallback */
  background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), transparent);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
}
#navbar::after {
  bottom: -8px;
  background: rgba(0, 0, 0, 0.4);
  /* Color fallback */
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
}
#navbar.fixed {
  position: fixed;
  top: 0;
}
#navbar > ul {
  padding: 0;
}
#navbar > ul > li:first-child {
  border-left-color: gainsboro;
}
#navbar > ul > li {
  display: inline-block;
  margin: 0;
  border: 0 none transparent;
  border-right: 1px solid gainsboro;
  border-left: 1px solid rgba(240, 240, 240, 0.01);
}
#navbar > ul > li a, #navbar > ul > li a:active, #navbar > ul > li a:visited, #navbar > ul > li a:link, #navbar > ul > li a:hover {
  display: block;
  height: 60px;
  padding: 0 18px;
  line-height: 60px;
  color: #464646;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.1s linear 0s;
}
#navbar > ul > li > ul {
  visibility: hidden;
  /* hides sub-menu */
  opacity: 0;
  position: absolute;
  margin-left: -1px;
  z-index: 1;
  background: #009cb3;
  /* Color fallback */
  background: -o-linear-gradient(to right, #009cb3 5%, rgba(0, 156, 179, 0.6) 80%, transparent 100%);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(left, #009cb3 5%, rgba(0, 156, 179, 0.6) 80%, transparent 100%);
  background: linear-gradient(to right, #009cb3 5%, rgba(0, 156, 179, 0.6) 80%, transparent 100%);
  border: 0 none transparent;
  border-left: 1px solid #dfc300;
  padding: 0 1em;
  list-style: none;
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
}
#navbar > ul > li:hover {
  background: rgba(0, 156, 179, 0.7);
  /* Color fallback */
  background: -o-linear-gradient(to bottom, rgba(0, 156, 179, 0.7) 0%, rgba(0, 156, 179, 0.5) 25%, rgba(0, 156, 179, 0.7) 100%);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, rgba(0, 156, 179, 0.7) 0%, rgba(0, 156, 179, 0.5) 25%, rgba(0, 156, 179, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 156, 179, 0.7) 0%, rgba(0, 156, 179, 0.5) 25%, rgba(0, 156, 179, 0.7) 100%);
  border-color: #dfc300;
}
#navbar > ul > li:hover a, #navbar > ul > li:hover a:active, #navbar > ul > li:hover a:link, #navbar > ul > li:hover a:visited, #navbar > ul > li:hover a:hover {
  color: #e6e6e6;
  text-shadow: 0 0 5px rgba(70, 70, 70, 0.9);
}
#navbar > ul > li:hover > ul {
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  transition-delay: 0s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}

#bannerbar {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid gainsboro;
  padding-top: 10px;
}

#logo {
  width: 120px;
  height: 120px;
  margin: 0 16px;
  float: left;
  background: url("../img/logo_lrg.png");
}

#banner {
  position: relative;
  top: 15px;
  width: 530px;
  height: 90px;
  margin: 0 16px;
  float: left;
  background: url("../img/banner_XXL_lrg.png");
}

#mainblock {
  padding: 2em 0;
  border-top: 1px solid white;
}

#content {
  width: 740px;
  float: left;
  margin-right: 30px;
}

#sidebar {
  width: 370px;
  float: left;
}

footer {
  position: relative;
  min-height: 100px;
  margin-top: 2em;
  background: #009cb3;
  border-top: 3px solid #dfc300;
  padding-bottom: 1em;
  color: #464646;
}
footer::before {
  content: '';
  display: block;
  position: relative;
  top: 0;
  height: 16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* Color fallback */
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

.sitemap {
  float: left;
  width: 25%;
  font-size: .9em;
}

.copyright {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  text-align: center;
  font-size: .8em;
}
.copyright::before {
  content: '';
  display: block;
  height: 8px;
  width: 100%;
  background: black;
  /* Color fallback */
  background: -o-linear-gradient(to bottom, black, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -webkit-linear-gradient(top, black, transparent);
  background: linear-gradient(to bottom, black, transparent);
}

#help {
  position: fixed;
  left: 0;
  height: 80px;
  width: 30px;
}

#scrollTop {
  display: none;
  user-select: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background: #009cb3;
  -webkit-box-shadow: 1px 2px 8px black;
  -moz-box-shadow: 1px 2px 8px black;
  box-shadow: 1px 2px 8px black;
  border: 2px solid #dfc300;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: .4em;
  color: gainsboro;
  font-weight: bolder;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                         not supported by any browser */
}

#notification {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.7s;
}
#notification.notify {
  top: 0;
}
#notification > div {
  padding: .5em 2em;
  background: rgba(0, 156, 179, 0.8);
  border: 3px solid #dfc300;
  border-top: 0 none;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#notification > div p {
  text-align: center;
  color: gainsboro;
  font-weight: bold;
}

.newsitem {
  display: block;
  width: 100%;
}
.newsitem article {
  position: relative;
  float: right;
  min-height: 180px;
  width: 482px;
  margin: .6em 0;
  background: rgba(220, 220, 220, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 1em;
}
.newsitem article img {
  position: absolute;
  left: -270px;
  top: 0;
  height: 180px;
  width: 250px;
}
.newsitem article p {
  text-shadow: 1px 1px #f0f0f0;
}

/* Overrides for development purposes */
#notification {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
